<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">LOVE MY MOVIES</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

            </ul>
        </div>
    </nav>

    <div class="container center-align">
        <!-- Page Content goes here -->
        <h1>
            TRENDING MOVIES
        </h1>





        <div class="w3-card-4 w3-container  w3-round-xlarge center" style="margin-left: auto; margin-right:auto;width 8em; margin-bottom: 20px; max-width:30%;">
            <img src="" alt="Avatar" style="width:100%;opacity:0.85">
            <div class="w3-container">
                <h4><b></b></h4>
                <p></p>
            </div>
        </div>

        <div class="w3-card-4 w3-container  w3-round-xlarge center" style="margin-left: auto; margin-right:auto;width 8em; margin-bottom: 20px; max-width:30%;">
            <img src="" alt="Avatar" style="width:100%;opacity:0.85">
            <div class="w3-container">
                <h4><b></b></h4>
                <p></p>
                <p></p>
            </div>
        </div>

        <div class="w3-card-4 w3-container  w3-round-xlarge center" style="margin-left: auto; margin-right:auto;width 8em; margin-bottom: 20px; max-width:30%;">
            <img src="" alt="Avatar" style="width:100%;opacity:0.85">
            <div class="w3-container">
                <h4><b></b></h4>
                <p></p>
                <p></p>
            </div>
        </div>

        <div class="w3-card-4 w3-container  w3-round-xlarge center" style="margin-left: auto; margin-right:auto;width 8em; margin-bottom: 20px; max-width:30%;">
            <img src="" alt="Avatar" style="width:100%;opacity:0.85">
            <div class="w3-container">
                <h4><b></b></h4>
                <p></p>
                <p></p>
            </div>
        </div>

        <div class="w3-card-4 w3-container  w3-round-xlarge center" style="margin-left: auto; margin-right:auto;width 8em; margin-bottom: 20px; max-width:30%;">
            <img src="" alt="Avatar" style="width:100%;opacity:0.85">
            <div class="w3-container">
                <h4><b></b></h4>
                <p></p>
                <p></p>
            </div>
        </div>

        <div class="w3-card-4 w3-container  w3-round-xlarge center" style="margin-left: auto; margin-right:auto;width 8em; margin-bottom: 20px; max-width:30%;">
            <img src="" alt="Avatar" style="width:100%;opacity:0.85">
            <div class="w3-container">
                <h4><b></b></h4>
                <p></p>
                <p></p>
            </div>
        </div>

    </div>




</body>
</html>
